/*
* HTML TAGS STYLING
*/

form{
	text-align:left;
}

form#login{
	text-align:center;
}

/*
* CSS FOR THE LAYOUT
*/

#wrapper{
	background-image:url("ios_background.png");
	background-repeat: no-repeat;
	width:366px;
	height:724px;
	padding-top:121px;
	padding-left:35px;
	display:inline-block;
}

#content{
	position:relative;
	width:292px;
	height:501px;
	background-color:rgba(54, 25, 25, .2);
	overflow-y:scroll;
}

#content::-webkit-scrollbar {  
    display: none;
}  

.data_content{
	margin-top:60px;
}

/*
* CSS FOR THE COURSE SELECTION MENU
*/
.icon{
	display:inline-block;
	position:absolute;
	left:10;
	background-image:url("chrome_icon.png");
	width:60px;
	height:60px;
	background-size: contain;
}

#class_list li{
	padding-top:15px;
	margin-bottom:-15px;
	height:80px;
	display:block;
	border-bottom-style:solid;
	border-width:4px;
	border-color:#aaa;
	margin-bottom:2px;
    text-align: center;
}

.name{
	display:inline-block;
	margin-top:20px;
}

.caret{
	display:inline-block;
	margin-top:20px;
	position:absolute;
	right:0;
	margin-right:10;
}


/*
* CSS FOR COURSE TAB
*/

#class_panel{
	display: none;
}

.top_bar{
	box-sizing: border-box;
	position:fixed;
	top:0;
	z-index:1;
	width:293px;
	height:60px;
	line-height:60px;
	background:#555555;
	color:white;
    text-align: center;
    margin:137px 0px 30px -1px;
}

.top_bar .back_button{
	text-decoration: none;
	position: absolute;
	left: 5px;
	border: 0px;
	color: white;
	font-size: 20px;
	background: #3691ff;
	margin-top: 15px;
	line-height: 30px;
	padding: 0 10;
}

#clock{
	position:absolute;
	right:0;
	top:60px;
	width:50px;
	height:50px;
	color:white;
	border-style:solid;
	background-color:black;
    text-align: center;
    line-height:50px;
}

#class_content{
	margin-top:100px;
}

#default_message{
	margin-top:200px;
	text-align:center;
}

#testing_mode{
	position:absolute;
	display:inline-block;
	
}


/*
* CSS FOR QUIZ LAYOUT
*/

.hidden_option{
	display:none;
}